# .env.example
# Copia esto a .env y edita tus valores

FASTAPI_HOST_PORT=8000
STREAMLIT_HOST_PORT=8501

# URL del servidor CUDA (el que corre el modelo real)
MODEL_SERVER_URL=http://<ip-o-dominio-del-servidor>:9000/predict

# Llave compartida
API_SECRET_KEY=changeme_secret

# URL interna para que Streamlit llame a FastAPI
API_URL=http://fastapi:8000/predict
